@page "/"
@using Kanban.Components.Shared

<PageTitle>Home</PageTitle>

<dic class="home-container">
    <div class="role-selector-container">
        <label>Choose role:</label>
        <RoleSelector />
    </div>
    <KanbanBoard />
</dic>

